__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/


.env
.env.*
*.env

# ----------------------
# PyCharm / IntelliJ IDEA
# ----------------------
.idea/
*.iml
out/

# VS Code
.vscode/
*.log

*.db
*.sqlite3

.pytest_cache/
.mypy_cache/



# OS Files
.DS_Store
Thumbs.db
